@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body {
    margin: 0;
    background-color: pink;
    font-family: 'Sigmar One', cursive;
}

.raz {
    width: 200px;
    height: 230px;
    border-radius: 10px;
    margin:10px;
    transition: transform .2s; /* Animation */
}

.poza {
    margin:80px 80px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.raz:hover {
    transform: scale(1.2);
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color:white;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
    text-align: center;
}